<!DOCTYPE html>
<html>
    <head>
        <title>Eliminar propiedad R</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="column">
                <h1 class="title">Proyecto 3 BDD</h1>
            </div>
            <div class="column">
                
            </div>
            <div class="column">
                <div class="container1">
                    <div class="column1">
                        <a href="{{ url_for('principal') }}">
                            <button class="btn-login">Back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <h1>Eliminar propiedadR</h1>
        </div>
        <div class='container2'>
            <div class='container2-grid'>
                <form method="POST" action="/eliminar-PR">
                    <div class='grid-info'>
                        <label for="titulo" class="label">Título de la película: </label>
                    </div>
                    <div class='grid-info'>
                        <input type="text" name="titulo" id="titulo" class="input" placeholder="Título de la película" size='70'></input>
                    </div>
                        <a href="{{ url_for('eliminar_PR') }}"></a>
                        <input type="submit" class="btn-login "value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
