<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Género</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="column">
            <h1 class="title">Proyecto 3 BDD</h1>
        </div>
        <div class="column"></div>
        <div class="column">
            <div class="container1">
                <div class="column1">
                    <a href="{{ url_for('index') }}">
                        <button class="btn-login">Back</button>
                    </a>
                </div>
                <div class="column1">
                    <a href="/login.html">
                        <button class="btn-register">Login</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container5">
        <h1>Género</h1>
    </div>

    <div class="container3">
        <div class="containerInfo">
            <div class="card">
                <a href="{{ url_for('genre_movies', genre='Action') }}">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/action.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Action</b></h4>
                        
                        </div>
                    </button>
                </a> 
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_edit_delete.html">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/scifi.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Sci-fi</b></h4>
                          
                        </div>
                    </button> 
                </a>
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_filter.html">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/comedy.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Comedy</b></h4>
                        
                        </div>
                    </button> 
                </a>
                
            </div>
        </div>
        
        
    </div>
    <div class="container4">
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_add.html">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/drama.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Drama</b></h4>
                          
                        </div>
                    </button>
                </a> 
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_edit_delete.html">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/horror.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Horror</b></h4>
                           
                        </div>
                    </button> 
                </a>
            </div>
        </div>
        <div class="containerInfo">
            <div class="card">
                <a href="bdd_filter.html">
                    <button type="button" class="btnCard">
                        <img style="height: 130px;" class="imageMain" src="../static/images/romance.jpeg" alt="Italian Trulli">
                        <div class="containerCard">
                            <h4 class="title"><b>Romance</b></h4>
                       
                        </div>
                    </button> 
                </a>
                
            </div>
        </div>
</body>
</html>