<!DOCTYPE html>
<html>
<head>
    <title>Proyecto 3 BDD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="column">
            <h1 class="title">Proyecto 3 BDD</h1>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <h1 class="title">Pantalla Principal</h1>
        </div>
    </div>

    <div class="container">
        <div class="column">

            <a href="{{ url_for('genre') }}">
                <button class="btn-profile">Perfil</button>
            </a>
        </div>
        
    </div>
    
    
    <div>
        <img class="imageMain" src="../static/images/portada.png" alt="Italian Trulli">
    </div>

</body>
</html>
