<!DOCTYPE html>
<html>
    <head>
        <title>Registro de Cuentas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="column">
                <h1 class="title">Proyecto 3 BDD</h1>
            </div>
            <div class="column"></div>
            <div class="column">
                <div class="container1">
                    <div class="column1">
                        <a href="{{ url_for('index') }}">
                            <button class="btn-login">Back</button>
                        </a>
                    </div>
                    <div class="column1">
                        <a href="/login.html">
                            <button class="btn-register">Login</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <h1>Registro</h1>
        </div>
        <div class="container2">
            <div class="container2-grid">
                <form method="POST" action="/register.html">
                    <div class="grid-info">
                        <label for="usuario" class="label">Usuario:</label>
                    </div>
                    <div class="grid-info">
                        <input type="text" name="usuario" id="usuario" class="input" placeholder="Usuario" size="70">
                    </div>
                    <div class="grid-info">
                        <label for="contrasena" class="label">Contraseña:</label>
                    </div>
                    <div class="grid-info">
                        <input type="password" name="contrasena" id="contrasena" class="input" placeholder="Contraseña" size="70">
                    </div>
                    <div class="grid-info">
                        <input type="submit" class="btn-register" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
