<!DOCTYPE html>
<html>
<head>
    <title>Registro de Cuentas</title>
</head>
<body>
    <h1>Registro de Cuentas</h1>
    <form method="POST" action="/register.html">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" id="usuario" required><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" id="contrasena" required><br>

        <input type="submit" value="Registrar">
        
    </form>
    <p>{{ resultado }}</p>
</body>
</html>
